<div class="album-descriptions-wrapper">
    <h3 nz-typography>Display Settings</h3>
    <nz-radio-group [(ngModel)]="size">
        <label nz-radio nzValue="default">default</label>
        <label nz-radio nzValue="middle">middle</label>
        <label nz-radio nzValue="small">small</label>
    </nz-radio-group>
    <br />
    <br />
    <nz-descriptions [nzTitle]="albumDescriptionsDetailsTitle" nzBordered [nzSize]="size" [nzColumn]="{ xxl: 3, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }" *ngIf="albumDetails">
        <nz-descriptions-item nzTitle="Album Name">{{ albumDetails.name }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Year Of Release">{{ albumDetails.yearOfRelease }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Number Of Tracks">{{ albumDetails.numberOfTracks }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Album Type">{{ albumDetails.albumType.name }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Performer">{{ albumDetails.performer.name }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Genre">{{ albumDetails.genre.name }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Presentation Image">
            <img nz-image alt="example" [nzSrc]="albumDetails.imageUrl ? albumDetails.imageUrl : fallback" [nzFallback]="fallback" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Tracks">
            <div *ngFor="let track of albumDetails.tracks; let i = index">
                <br />
                <span>#Track {{ i + 1 }} - {{ track.name }}</span>
            </div>
        </nz-descriptions-item>
    </nz-descriptions>
    <br />
    <h2 nz-typography style="margin-top: 20px">Comments</h2>
    <div nz-row style="height: 100%">
        <div nz-col nzSpan="6"></div>
        <div nz-col nzSpan="12">
            <nz-list *ngIf="albumComments" [nzDataSource]="albumComments" [nzItemLayout]="'horizontal'">
                <nz-list-item *ngFor="let albumComment of albumComments">
                    <ng-template #commentTemplateRef let-comment="comment">
                        <nz-comment [nzAuthor]="comment.author" [nzDatetime]="comment.createdOn">
                            <nz-comment-content>
                                <p>{{ comment.content }}</p>
                            </nz-comment-content>
                            <button *ngIf="(isAuthenticated | async) === true && comment.albumId" nz-button nzType="link" (click)="showSubcommentCreationModal()">Reply to</button>
                            <ng-container *ngIf="comment.subcomments && comment.subcomments.length">
                                <ng-template ngFor let-child [ngForOf]="comment.subcomments">
                                    <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child }"></ng-template>
                                </ng-template>
                            </ng-container>
                        </nz-comment>
                    </ng-template>
                    <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: albumComment }"></ng-template>
                    <nz-modal [(nzVisible)]="isSubcommentCreationModalVisible" nzTitle="Reply To Comment" (nzOnOk)="handleOkSubcommentCreationModal(albumComment)" (nzOnCancel)="handleCancelSubcommentCreationModal()">
                        <ng-container *nzModalContent>
                            <form nz-form [formGroup]="subcommentCreationForm">
                                <nz-form-item>
                                    <nz-form-control nzHasFeedback [nzErrorTip]="combineSubcommentContentValidationTemplate">
                                        <nz-textarea-count [nzMaxCharacterCount]="200">
                                            <textarea nz-input formControlName="content" placeholder="Enter comment content" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                                            <ng-template #combineSubcommentContentValidationTemplate let-control>
                                                <ng-container *ngIf="control.hasError('maxlength')">The comment's content cannot be longer than 200 characters
                                                </ng-container>
                                                <ng-container *ngIf="control.hasError('minlength')">The comment's content must be at least 3 character long
                                                </ng-container>
                                                <ng-container *ngIf="control.hasError('required')">The comment's content is required</ng-container>
                                            </ng-template>
                                        </nz-textarea-count>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                        </ng-container>
                    </nz-modal>
                </nz-list-item>
            </nz-list>
            <nz-comment *ngIf="(isAuthenticated | async) === true">
                <nz-comment-content>
                    <form nz-form [formGroup]="commentCreationForm">
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzErrorTip]="combineCommentContentValidationTemplate">
                                <nz-textarea-count [nzMaxCharacterCount]="200">
                                    <textarea nz-input formControlName="content" placeholder="Enter comment content" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                                    <ng-template #combineCommentContentValidationTemplate let-control>
                                        <ng-container *ngIf="control.hasError('maxlength')">The comment's content cannot be longer than 200 characters
                                        </ng-container>
                                        <ng-container *ngIf="control.hasError('minlength')">The comment's content must be at least 3 character long
                                        </ng-container>
                                        <ng-container *ngIf="control.hasError('required')">The comment's content is required</ng-container>
                                    </ng-template>
                                </nz-textarea-count>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                    <button nz-button nzType="primary" [nzLoading]="isCommentSubmitted" [disabled]="!commentCreationForm.value.content" (click)="handleAlbumCommentSubmit()" style="margin-top: 10px;">
            Add Comment
          </button>
                </nz-comment-content>
            </nz-comment>
        </div>
        <div nz-col nzSpan="6"></div>
    </div>
    <button nz-button nzType="default" [routerLink]="['/albums']">Go Back</button>
</div>
