<div nz-row style="height: 100%;">
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="8" class="audio-player-col" style="align-self: center;">
        <div id="audioPlayer" [class]="playerClass">
            <div class="audio">
                <div class="song-image"><img data-amplitude-song-info="cover_art_url" [src]="currentTrack?.imageUrl" alt=""></div>
                <div class="song-info pl-3">
                    <span data-amplitude-song-info="name"></span>
                    <span data-amplitude-song-info="producerUserName"></span>
                </div>
            </div>

            <div class="audio-controls">
                <div class="audio-controls--main d-flex">
                    <button class="btn btn-air btn-pill btn-default btn-icon-only amplitude-play-pause">
                <i class="ion-md-play">Play</i>
                <i class="ion-md-pause">Pause</i>
            </button>
                </div>
            </div>

            <div class="audio-info">
                <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span> /
                <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
                <div class="audio-volume dropdown">
                    <div class="dropdown-menu dropdown-menu-right volume-dropdown-menu">
                        <input type="range" class="amplitude-volume-slider" value="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="8"></div>
</div>