<button nz-button class="load-performers-data-button" [nzType]="'primary'" (click)="onLoadPerformersDataClick()">
  Load Performers
</button>

<button nz-button class="create-new-performer-button" [nzType]="'dashed'" (click)="showPerformerCreationModal()">
  Create New Performer
</button>
<nz-modal [(nzVisible)]="isPerformersCreationModalVisible" nzTitle="Create New Performer" (nzOnOk)="handleOkPerformerCreationModal()" (nzOnCancel)="handleCancelPerformerCreationModal()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="performersCreationForm" (ngSubmit)="onPerformersCreationFormSubmit()">
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Name</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="combinePerformerCreationNameValidationTemplate">
                    <input nz-input formControlName="name" minlength="3" maxlength="20" required />
                    <ng-template #combinePerformerCreationNameValidationTemplate let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">The performer's name cannot be longer than 20 characters
                        </ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">The performer's name must be at least 3 character long
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">The performer's name is required</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Country</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="12">
                    <input placeholder="Start typing to filter countries" nz-input formControlName="country" (ngModelChange)="onCountryAutocompleteChange($event)" [nzAutocomplete]="auto" />
                    <nz-autocomplete [nzDataSource]="filteredCountriesList!" #auto></nz-autocomplete>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">History</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="combinePerformerCreationHistoryValidationTemplate">
                    <nz-textarea-count [nzMaxCharacterCount]="200">
                        <textarea rows="4" formControlName="history" nz-input></textarea>
                    </nz-textarea-count>
                    <ng-template #combinePerformerCreationHistoryValidationTemplate let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">The history of the performer cannot be longer than 200 characters
                        </ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">The history of the performer must be at least 20 character long
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">The history of the performer is required</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="8">Cover Image</nz-form-label>
                <nz-upload class="album-cover-uploader" [nzAction]="performerPresentationImageUploadAPIUrl" [nzCustomRequest]="executeCustomUploadRequest" [nzHeaders]="setMediaUploadHeaders" [nzName]="'file'" nzListType="picture-card" [nzMultiple]="false" (nzChange)="handlePerformerPresentationImageChange($event)"
                    [nzDownload]="downloadPerformerPresentationImage" [nzShowButton]="isPerformerCreationPresentationImageUploadButtonVisible" [nzPreview]="handlePerformerImagePreview" [nzFileList]="performerPresentationImagesFileList">
                    <div>
                        <span nz-icon nzType="plus"></span>
                        <div style="margin-top: 8px">Upload</div>
                    </div>
                </nz-upload>
                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                    <ng-template #modalContent>
                        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                    </ng-template>
                </nz-modal>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>

<nz-table #sortTable [nzData]="performersDisplayData" nzTableLayout="fixed" [nzLoading]="isLoading">
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th *ngFor="let column of listOfPerformersColumns" [nzSortFn]="column.compare" [nzSortPriority]="column.priority" nzCustomFilter="">
                {{ column.title }}
                <div [ngSwitch]="column.title" class="search-trigger-container">
                    <div *ngSwitchCase="'Name'">
                        <nz-filter-trigger [(nzVisible)]="column.isSearchTriggerVisible" [nzActive]="column.searchValue.length > 0" [nzDropdownMenu]="searchByNameMenu">
                            <span nz-icon nzType="search"></span>
                        </nz-filter-trigger>
                    </div>
                    <div *ngSwitchCase="'Country'">
                        <nz-filter-trigger [(nzVisible)]="column.isSearchTriggerVisible" [nzActive]="column.searchValue.length > 0" [nzDropdownMenu]="searchByCountryMenu">
                            <span nz-icon nzType="search"></span>
                        </nz-filter-trigger>
                    </div>
                </div>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of sortTable.data">
            <tr>
                <td [(nzExpand)]="data.expanded"></td>
                <td>{{ data.performer.name }}</td>
                <td>{{ data.performer.country }}</td>
                <td>
                    <button nz-button class="edit-performer-button" (click)="showPerformerEditModal(data)">
            Edit
          </button>
                    <nz-modal [(nzVisible)]="data.isEditingModalVisible" nzTitle="Edit Performer" (nzOnOk)="handleOkPerformerEditModal(data)" (nzOnCancel)="handleCancelPerformerEditModal(data)">
                        <ng-container *nzModalContent>
                            <form nz-form [formGroup]="performersEditForm" (ngSubmit)="onPerformersCreationFormSubmit()">
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="5">Name</nz-form-label>
                                    <nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="combinePerformerEditNameValidationTemplate">
                                        <input nz-input formControlName="name" minlength="3" maxlength="20" required />
                                        <ng-template #combinePerformerEditNameValidationTemplate let-control>
                                            <ng-container *ngIf="control.hasError('maxlength')">The performer's name cannot be longer than 20 characters
                                            </ng-container>
                                            <ng-container *ngIf="control.hasError('minlength')">The performer's name must be at least 3 character long
                                            </ng-container>
                                            <ng-container *ngIf="control.hasError('required')">The performer's name is required</ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="5">Country</nz-form-label>
                                    <nz-form-control nzHasFeedback [nzSpan]="12">
                                        <input placeholder="Start typing to filter countries" nz-input formControlName="country" (ngModelChange)="onCountryAutocompleteChange($event)" [nzAutocomplete]="auto" />
                                        <nz-autocomplete [nzDataSource]="filteredCountriesList!" #auto></nz-autocomplete>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="5">History</nz-form-label>
                                    <nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="combinePerformerEditHistoryValidationTemplate">
                                        <nz-textarea-count [nzMaxCharacterCount]="200">
                                            <textarea rows="4" formControlName="history" nz-input></textarea>
                                        </nz-textarea-count>
                                        <ng-template #combinePerformerEditHistoryValidationTemplate let-control>
                                            <ng-container *ngIf="control.hasError('maxlength')">The history of the performer cannot be longer than 200 characters
                                            </ng-container>
                                            <ng-container *ngIf="control.hasError('minlength')">The history of the performer must be at least 20 character long
                                            </ng-container>
                                            <ng-container *ngIf="control.hasError('required')">The history of the performer is required</ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSpan]="8">Cover Image</nz-form-label>
                                    <nz-upload class="album-edit-cover-uploader" [nzAction]="performerPresentationImageUploadAPIUrl" [nzCustomRequest]="executeCustomUploadRequest" [nzHeaders]="setMediaUploadHeaders" [nzName]="'file'" nzListType="picture-card" [nzMultiple]="false" [nzDownload]="downloadPerformerPresentationImage"
                                        [nzShowButton]="
                                      isPerformerEditPresentationImageUploadButtonVisible
                                    " (nzChange)="handleAlbumEditCoverImageChange($event)" [nzPreview]="handlePerformerImagePreview" [(nzFileList)]="performerEditPresentationImagesFileList">
                                        <div>
                                            <span nz-icon nzType="plus"></span>
                                            <div style="margin-top: 8px">Upload</div>
                                        </div>
                                    </nz-upload>
                                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                                        <ng-template #modalContent>
                                            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                                        </ng-template>
                                    </nz-modal>
                                </nz-form-item>
                            </form>
                        </ng-container>
                    </nz-modal>
                    <button nz-button (click)="showPerformerRemovalModal(data.performer)" nzDanger>
            Delete
          </button>
                </td>
            </tr>
            <tr [nzExpand]="data.expanded">
                <span>History: {{ data.performer.history }}</span>
            </tr>
        </ng-container>
    </tbody>
</nz-table>
<nz-dropdown-menu #searchByNameMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchByNameValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="searchForPerformersByName()" class="search-button">
        Search
      </button>
            <button nz-button nzSize="small" (click)="resetPerformersSearch()">
        Reset
      </button>
        </div>
    </div>
</nz-dropdown-menu>
<nz-dropdown-menu #searchByCountryMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search country" [(ngModel)]="searchByCountryValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="searchForPerformersByCountry()" class="search-button">
        Search
      </button>
            <button nz-button nzSize="small" (click)="resetPerformersSearch()">
        Reset
      </button>
        </div>
    </div>
</nz-dropdown-menu>
