<form nz-form [formGroup]="albumTypeActionForm">
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Name</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="combineAlbumTypeCreationNameValidationTemplate">
            <input nz-input formControlName="albumTypeName" minlength="3" maxlength="20" required />
            <ng-template #combineAlbumTypeCreationNameValidationTemplate let-control>
                <ng-container *ngIf="control.hasError('maxlength')">The album type name cannot be longer than 20 characters
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength')">The album type name must be at least 3 character long
                </ng-container>
                <ng-container *ngIf="control.hasError('required')">The album type name is required</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
</form>