<nz-layout class="layout">
    <app-navbar></app-navbar>
    <nz-content class="outer-content">
        <nz-breadcrumb>
            <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
            <nz-breadcrumb-item>Programming</nz-breadcrumb-item>
            <nz-breadcrumb-item>Options</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-layout class="inner-layout">
            <nz-sider nzWidth="200px" nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
                <ul nz-menu nzMode="inline" class="sider-menu">
                    <li nz-submenu nzTitle="Albums" nzIcon="laptop">
                        <ul>
                            <li nz-menu-item>option5</li>
                            <li nz-menu-item>option6</li>
                            <li nz-menu-item>option7</li>
                            <li nz-menu-item>option8</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Tracks" nzIcon="notification">
                        <ul>
                            <li nz-menu-item>option9</li>
                            <li nz-menu-item>option10</li>
                            <li nz-menu-item>option11</li>
                            <li nz-menu-item>option12</li>
                        </ul>
                    </li>
                    <li nz-submenu nzOpen nzTitle="Users" nzIcon="user">
                        <ul>
                            <li nz-menu-item nzSelected>option1</li>
                            <li nz-menu-item>option2</li>
                            <li nz-menu-item>option3</li>
                            <li nz-menu-item>option4</li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <nz-layout>
                <nz-header class="trigger-header">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
                </nz-header>
                <app-albums-management></app-albums-management>
            </nz-layout>
        </nz-layout>
        <nz-footer>RockStodons ©{{currentYear}}</nz-footer>
    </nz-content>
</nz-layout>
