<nz-layout class="layout">
    <app-navbar></app-navbar>
    <nz-content class="outer-content">
        <nz-breadcrumb>
            <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
            <nz-breadcrumb-item>Programming</nz-breadcrumb-item>
            <nz-breadcrumb-item>Options</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-layout class="inner-layout">
            <nz-sider nzWidth="200px" nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
                <ul nz-menu nzMode="inline" class="sider-menu">
                    <li nz-menu-item>
                        <span nz-icon nzType="pie-chart"></span>
                        <span>
                          <a [routerLink]="['/dashboard', { outlets: { dashboard: ['genres-management']}}]">Genres</a>
                        </span>
                    </li>
                    <li nz-menu-item>
                        <span nz-icon nzType="laptop"></span>
                        <span>
                          <a [routerLink]="['/dashboard', { outlets: { dashboard: ['album-types-management']}}]">Album Types</a>
                        </span>
                    </li>
                    <li nz-menu-item>
                        <span nz-icon nzType="user"></span>
                        <span>
                          <a [routerLink]="['/dashboard', { outlets: { dashboard: ['performers-management']}}]">Performers</a>
                        </span>
                    </li>
                    <li nz-menu-item>
                        <span nz-icon nzType="desktop"></span>
                        <span>
                          <a [routerLink]="['/dashboard', { outlets: { dashboard: ['albums-management']}}]">Albums</a>
                        </span>
                    </li>
                    <li nz-menu-item>
                        <span nz-icon nzType="laptop"></span>
                        <span>
                        <a [routerLink]="['/dashboard', { outlets: { dashboard: ['tracks-management']}}]">Tracks</a>
                      </span>
                    </li>
                    <li nz-menu-item>
                        <span nz-icon nzType="user"></span>
                        <span>
                          <a [routerLink]="['/dashboard', { outlets: { dashboard: ['users-management']}}]">Users</a>
                        </span>
                    </li>
                    <li nz-menu-item>
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                        <span>
                          <a [routerLink]="['/dashboard', { outlets: { dashboard: ['recycle-bin']}}]">Recycle Bin</a>
                        </span>
                    </li>
                </ul>
            </nz-sider>
            <nz-layout>
                <nz-header class="trigger-header">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
                </nz-header>
                <div class="app-management-container">
                    <router-outlet name="dashboard"></router-outlet>
                </div>
            </nz-layout>
        </nz-layout>
        <nz-footer>RockStodons ©{{currentYear}}</nz-footer>
    </nz-content>
</nz-layout>