<div nz-row style="height: 100%;">
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="8" class="register-form-col" style="align-self: center;">
        <form nz-form [formGroup]="registerForm" class="register-form" (ngSubmit)="onRegisterFormSubmit()">
            <nz-form-item>
                <img src="../../../assets/images/tumblr_ooid5tnnr61vijw5wo1_500.png" class="register-image" alt="register Image">
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your email!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="email" placeholder="Email" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="userName" placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please confirm your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <div nz-row class="register-form-margin">
                <div nz-col [nzSpan]="12">
                    <a class="register-form-forgot">Forgot password</a>
                </div>
            </div>
            <button nz-button class="register-form-button register-form-margin" [nzType]="'primary'">
              Log in
          </button> Or
            <a [routerLink]="['/login']">Already Have an account? Login</a>
        </form>
    </div>
    <div nz-col nzSpan="8"></div>
</div>