    form nz-form-item {
        margin-right: 16px;
        margin-bottom: 8px;
    }
    
    .load-albums-data-button {
        margin: 20px 0px;
    }
    
    .edit-album-button {
        margin-right: 20px;
    }
    
    .create-new-album-button {
        margin-left: 20px;
    }
    
    .edit-album-button {
        margin-right: 20px;
    }