<div class="terms-and-conditions-wrapper">
    <h2 nz-typography class="terms-and-conditions-heading">Terms And Conditions</h2>
    <nz-collapse>
        <nz-collapse-panel *ngFor="let termsAndConditionsPanel of termsAndConditionsPanels" [nzHeader]="termsAndConditionsPanel.name" [nzActive]="termsAndConditionsPanel.active" [nzDisabled]="termsAndConditionsPanel.disabled">
            <p style="margin:0;">
                {{ termsAndConditionsPanel.content }}
            </p>
        </nz-collapse-panel>
    </nz-collapse>
</div>