<div style="background: #ececec; padding: 30px">
    <header>
        <header class="masthead">
            <div class="container">
                <div class="row">
                    <div class="masthead-header-content">
                        <h1 class="fw-light" nz-typography>
                            Thousands of tracks from classic rock to death metal.
                        </h1>
                        <h2 class="mt-5 subheadline" nz-typography>
                            Browse recommendations, search by a favourite band and make your life louder.
                        </h2>
                    </div>
                </div>
            </div>
        </header>
    </header>
    <h2 nz-typography style="margin-top: 20px;">Albums Selection</h2>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 6 }" *ngFor="let album of albumsPrimarySelection">
            <nz-card nz-card-grid nzHoverable [nzBordered]="true" [nzLoading]="isLoading" [ngStyle]="gridSelectionStyle" style="margin-top: 20px;" [nzCover]="albumCoverTemplate" [nzActions]="[albumCatalogue]">
                <nz-card-meta [nzTitle]="album.name" [nzDescription]="album.performer.name" (click)="getAlbumDetails(album.id)"></nz-card-meta>
            </nz-card>
            <ng-template #albumCoverTemplate>
                <img nz-image alt="example" [nzSrc]="album.imageUrl ? album.imageUrl : fallback" [nzFallback]="fallback" />
            </ng-template>
            <ng-template #albumCatalogue>
                <span nz-icon nzType="read" nzTheme="outline" (click)="getAlbumDetails(album.id)"></span>
            </ng-template>
        </div>
    </div>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 4 }" *ngFor="let album of albumsSecondarySelection">
            <nz-card nz-card-grid nzHoverable [nzBordered]="true" [nzLoading]="isLoading" [ngStyle]="gridSelectionStyle" style="margin-top: 20px;" [nzCover]="albumCoverTemplate" [nzActions]="[albumCatalogue]">
                <nz-card-meta [nzTitle]="album.name" [nzDescription]="album.performer.name" (click)="getAlbumDetails(album.id)"></nz-card-meta>
            </nz-card>
            <ng-template #albumCoverTemplate>
                <img nz-image alt="example" [nzSrc]="album.imageUrl ? album.imageUrl : fallback" [nzFallback]="fallback" />
            </ng-template>
            <ng-template #albumCatalogue>
                <span nz-icon nzType="read" nzTheme="outline" (click)="getAlbumDetails(album.id)"></span>
            </ng-template>
        </div>
    </div>
    <nz-divider></nz-divider>
    <a nz-button [routerLink]="['/albums']">Browse for More</a>
    <h2 nz-typography style="margin-top: 20px;">Top Performers</h2>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 4 }" *ngFor="let performer of performersPrimarySelection">
            <nz-card nz-card-grid nzHoverable [nzBordered]="true" [nzLoading]="isLoading" [ngStyle]="gridSelectionStyle" style="margin-top: 20px;" [nzCover]="performerCoverTemplate" [nzActions]="[performerCatalogue]">
                <nz-card-meta [nzTitle]="performer.name" [nzDescription]="performer.country" (click)="getPerformerDetails(performer.id)"></nz-card-meta>
            </nz-card>
            <ng-template #performerCoverTemplate>
                <img nz-image alt="example" [nzSrc]="performer.imageUrl ? performer.imageUrl : fallback" [nzFallback]="fallback" />
            </ng-template>
            <ng-template #performerCatalogue>
                <span nz-icon nzType="read" nzTheme="outline" (click)="getPerformerDetails(performer.id)"></span>
            </ng-template>
        </div>
    </div>
    <nz-divider></nz-divider>
    <a nz-button nzType="default" [routerLink]="['/performers']">Browse for More</a>
    <h2 nz-typography style="margin-top: 20px;">Streams Selection</h2>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 4 }" *ngFor="let stream of streamsPrimarySelection">
            <nz-card nz-card-grid nzHoverable [nzBordered]="true" [nzLoading]="isLoading" [ngStyle]="gridSelectionStyle" style="margin-top: 20px;" [nzCover]="albumCoverTemplate" [nzActions]="[actionPlay]">
                <nz-card-meta [nzTitle]="stream.name"></nz-card-meta>
            </nz-card>
            <ng-template #albumCoverTemplate>
                <img nz-image alt="example" [nzSrc]="stream.imageUrl ? stream.imageUrl : fallback" [nzFallback]="fallback" />
            </ng-template>
            <ng-template #actionPlay>
                <span nz-icon nzType="play-circle" nzTheme="outline" (click)="getStreamDetails(stream.id)"></span>
            </ng-template>
        </div>
    </div>
    <nz-divider></nz-divider>
    <button nz-button nzType="default" [routerLink]="['/streams']">Browse for More</button>
    <h2 nz-typography style="margin-top: 20px;">Trending Genres</h2>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 4 }" *ngFor="let genre of genresPrimarySelection">
            <nz-card nz-card-grid nzHoverable [nzBordered]="true" [nzLoading]="isLoading" [ngStyle]="gridSelectionStyle" style="margin-top: 20px;" [nzCover]="genreCoverTemplate">
                <nz-card-meta [nzTitle]="genre.name"></nz-card-meta>
            </nz-card>
            <ng-template #genreCoverTemplate>
                <img nz-image alt="example" [nzSrc]="genre.imageUrl ? genre.imageUrl : fallback" [nzFallback]="fallback" />
            </ng-template>
        </div>
    </div>
    <nz-divider></nz-divider>
    <button nz-button nzType="default" [routerLink]="['/genres']">Browse for More</button>
</div>