    .masthead {
        height: 100vh;
        min-height: 500px;
        background-image: url("../../../assets/images/pexels-edward-eyer-811838.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .masthead .container {
        width: 100%;
    }

    .masthead-header-content h1,
    .subheadline {
        color: white;
        text-shadow: 0 8.36px 11.896px #b44545, 0 -2px 1px rgb(77 28 28);
    }

    .home-wrapper {
        background-image: url("../../../assets/images/istockphoto-472290291-612x612.jpg");
    }

    h2 {
        text-shadow: 0 8.36px 11.896px white, 0 -2px 1px white;
    }
