<nz-header>
    <div class="logo">
        <a [routerLink]="['/home']">
            <img src="../assets/images/rockstodons-logo.png" alt="Rockstodons Logo" />
        </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected [routerLink]="['/home']">Home</li>
        <li nz-menu-item [routerLink]="['/albums']">Albums</li>
        <li nz-menu-item [routerLink]="['/performers']">Performers</li>
        <li nz-menu-item [routerLink]="['/genres']">Genres</li>
        <li nz-menu-item [routerLink]="['/streams']">Streams</li>
        <li nz-menu-item *ngIf="(isAuthenticated | async) === true">Welcome, {{ userDetails['name'] }}</li>
        <li nz-menu-item *ngIf="((isAuthenticated | async) === true && userDetails && userDetails['role'] == 'STSAdminRole')" [routerLink]="['/dashboard', { outlets: { dashboard: ['genres-management']}}]">Dashboard</li>
        <li nz-menu-item *ngIf="(isAuthenticated | async) === false" (click)="login()">
            Login
        </li>
        <li nz-menu-item *ngIf="(isAuthenticated | async) === true" (click)="logout()">
            Logout
        </li>
    </ul>
</nz-header>
