<nz-header>
    <div class="logo">
        <a [routerLink]="['/home']">
            <img src="../assets/images/rockstodons-logo.png" alt="Rockstodons Logo">
        </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected [routerLink]="['/home']">Home</li>
        <li nz-menu-item *ngIf="role == 'Administrator'" [routerLink]="['/dashboard', { outlets: { dashboard: ['genres-management']}}]">Dashboard</li>
        <li nz-menu-item>Albums</li>
        <li nz-menu-item>Playlists</li>
        <li nz-menu-item *ngIf="username">{{ username }}'s Profile</li>
        <li nz-menu-item *ngIf="applicationUser$ | async as user" (click)="logout()">
            Logout
        </li>
    </ul>
</nz-header>