<form nz-form [formGroup]="genreActionFormGroup">
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Name</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="combineGenreNameValidationTemplate">
            <input nz-input formControlName="genreName" minlength="3" maxlength="20" required />
            <ng-template #combineGenreNameValidationTemplate let-control>
                <ng-container *ngIf="control.hasError('maxlength')">The genre's name cannot be longer than 20 characters</ng-container>
                <ng-container *ngIf="control.hasError('minlength')">The genre's name must be at least 3 character long</ng-container>
                <ng-container *ngIf="control.hasError('required')">The genre's name is required</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
</form>