<div style="background: #ececec; padding: 30px">
    <h2 nz-typography style="margin-top: 20px;">All Albums</h2>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 4 }" *ngFor="let album of albumsForCatalogue">
            <nz-card nz-card-grid nzHoverable [nzBordered]="true" [nzLoading]="isLoading" [ngStyle]="gridSelectionStyle" style="margin-top: 20px;" [nzCover]="albumCoverTemplate" [nzActions]="[albumCatalogue]">
                <nz-card-meta [nzTitle]="album.name" [nzDescription]="album.performer.name" (click)="getAlbumDetails(album.id)"></nz-card-meta>
            </nz-card>
            <ng-template #albumCoverTemplate>
                <img nz-image alt="example" [nzSrc]="album.imageUrl ? album.imageUrl : fallback" [nzFallback]="fallback" />
            </ng-template>
            <ng-template #albumCatalogue>
                <span nz-icon nzType="read" nzTheme="outline" (click)="getAlbumDetails(album.id)"></span>
            </ng-template>
        </div>
    </div>
</div>