<button nz-button class="load-genres-data-button" [nzType]="'primary'" (click)="onLoadRolesDataClick()">
  Load Roles
</button>

<nz-table #nzTable [nzData]="rolesDisplayData" nzTableLayout="fixed" [nzLoading]="isLoading">
    <thead>
        <tr>
            <th nzCustomFilter>
                Name
                <nz-filter-trigger [(nzVisible)]="isRolesSearchTriggerVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{ data.role.name }}</td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="searchForRoles()" class="search-button">
      Search
    </button>
            <button nz-button nzSize="small" (click)="resetRolesSearch()">
      Reset
    </button>
        </div>
    </div>
</nz-dropdown-menu>