<div class="login-container bg-light">
    <div class="login-box">
        <div class="container">
            <div>
                <div>
                    <p class="alert alert-dark">
                        You need to be logged in to view requested page. Please log in before continuing.
                    </p>
                    <button nz-button type="primary" (click)="login($event)">
                        <span>Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>